body {
    background-color: black;
    width: 50%;
    height: 100%;
}

.total {
    color: aliceblue;
    position: relative;
    top: 270px;
    left: 253px;
    font-size: 120px;
}



.itens_numericos {
    display: grid;
    grid-template-columns:10% 10% 10% 10%;
    width: 105vh;
    margin-top: 35%;
}

* {
    margin: 0;
    padding: 0;
}

.itens_numericos button {
    margin: 5px;
    border-radius: 50%;
    padding: 1.5em;
    border: 0;
}
 
#botao_zero {
    border-radius: 50px;
    width: 7.5em;
    text-align: left;
}

#botao_igual {
    position: relative;
    left: 4em;
}

#botao_virg {
    position: relative;
    left: 4em;
}

.botao_principal {
    background-color: #413c3c;
    color: aliceblue;
    font-size: 17px;
    font-weight: 600;
}

.botao {
    background-color: rgb(255, 166, 0);
    color: aliceblue;
    font-size: 17px;
    font-weight: 700;
}

.botao_secundario {
    background-color: #ccc;
    color: black;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}

#resultado {
    position: relative;
    bottom: 2.5em;
    right: 2.8em;
    color: aliceblue;
    font-size: 85px;
    height: 89px;
    width: 300px;
}


.botao:hover {
    background-color: burlywood;
}

.botao_secundario:hover {
    background-color: burlywood;
}

.botao_principal:hover {
    background-color: burlywood;
}

section {
    margin-left: 76%;
}